<style>
    body{
      background-color:grey;  
    }
    
    .surveyform{
      text-align: center;
      
      padding-top:10px;
      padding-left:10px;
      padding-right:10px;
      padding-bottom:10px;
      border-radius: 100%;
      box-shadow: 5px 5px 5px 5px black; 
    }
    
    .name{
      color:black;
      text-align:center;
      
      
    }
    .email{
      color:black;
      text-align:center;
    }
    .phoneno{
      color:black;
      text-align:center;
      padding-left:-10px;
    }
    #a
    {
      text-align: center;
      font-family:monospace;
      margin-left:395px;
      margin-top:25px;
    }
    #b
    {
      text-align:center;
      font-family:monospace;
      margin-left:35px;
      margin-top:25px;
    }
    </style>